# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29
# data science
numpy
pandas
scikit-learn
tensorflow
opencv-python
matplotlib
# API
pydantic
starlette
fastapi
Pillow
uvicorn
gcsfs
google-cloud-storage
s3fs
# utilities
requests
requires.io
six>=1.14
joblib
