# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

#comment

# data science
numpy
pandas
scikit-learn
tensorflow
opencv-python


# API
pydantic
starlette
fastapi
Pillow
#do we need uvicorn?
uvicorn
gcsfs

s3fs

# utilities
six>=1.14
joblib

