# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

#comment

# data science
numpy
pandas
scikit-learn

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage==2.6.0
mlflow
s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor

streamlit-autorefresh-0.0.1
streamlit-lottie
