# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
six
numpy
pandas
requests

asyncio
aiohttp
pytz
plotly
plotly.express

# img
pillow

# web
streamlit
requests
python-dotenv
pybase64
fsspec

requires.io
google-auth
google-cloud-storage
gcsfs
APScheduler
